@model LogIn.Models.Register;
@{
    <h1>Welocome to the dashboard</h1>
    <h2 class="text-danger">Welcome  @ViewBag.user_name</h2>
    <h2 class="text-danger">  @ViewBag.idn</h2>
    <h2 class="text-danger">  @ViewBag.u_name</h2>
    <h2 class="text-danger">  @ViewBag.user_name</h2>
    <h2 class="text-danger">  @ViewBag.email</h2>
    <h2 class="text-danger">  @ViewBag.mobile_number</h2>
    <h2 class="text-danger">  @ViewBag.date_of_birth</h2>
    <h2 class="text-danger">  @ViewBag.gender</h2>
    <a asp-controller="login" asp-action="login">logout</a>
}